{% extends 'base_layout.html' %}
{% load static %}

{% block subcontent %}
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-6 col-12-medium">

									<!-- Banner Copy -->
										<p>Karaoke seven nights a week! Starting at 9pm until the crowds die down.</p>
										<a href="https://goo.gl/maps/u1gVjz9XuRq" class="button-large">Directions&nbsp;</a><br /><br />
										<a href="tel:(619)561-1158" class="button-large">
											<i class="fa fa-phone" style="font-size:40px"> Call</i>
									</a>


								</div>
								<div class="col-6 col-12-medium imp-medium">

								<!-- Begin Mailchimp Signup Form -->

								<!--End mc_embed_signup-->

								</div>
							</div>
						</div>
{% endblock subcontent %}
					</div>
				</section>



{% block content %}
			<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row">


		{% for info in infoList %}
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->

									<section>
										<a href="{% url 'events:main' %}" class="bordered-feature-image">
											<img src="{% static 'media/' %}{{info.Photo}}" alt="" /></a>
										<h2>{{info.Title}}</h2>
										<p>
											{{info.Text | safe}}
										</p>
									</section>
							</div>
		{% endfor %}
						</div>
					</div>
				</section>

			<!-- Content -->

<!-- 				<section id="content">
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">


									<section>
										<header>
											<h2>Who We Are</h2>
											<h3>A subheading about who we are</h3>
										</header>
										<a href="#" class="feature-image"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan magna sed.
											Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
											justo facilisis quis. Sed sagittis amet lorem ipsum.
										</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">


									<section>
										<header>
											<h2>What We Do</h2>
											<h3>A subheading about what we do</h3>
										</header>
										<ul class="check-list">
											<li>Sed mattis quis rutrum accum</li>
											<li>Eu varius nibh suspendisse lorem</li>
											<li>Magna eget odio amet mollis justo</li>
											<li>Facilisis quis sagittis mauris</li>
											<li>Amet tellus gravida lorem ipsum</li>
										</ul>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

									<section>
										<header>
											<h2>What People Are Saying</h2>
											<h3>And a final subheading about our clients</h3>
										</header>
										<ul class="quote-list">
											<li>
												<img src="{% static 'images/pic06.jpg' %}" alt="" />
												<p>"Neque nisidapibus mattis"</p>
												<span>Jane Doe, CEO of UntitledCorp</span>
											</li>
											<li>
												<img src="{% static 'images/pic07.jpg' %}" alt="" />
												<p>"Lorem ipsum consequat!"</p>
												<span>John Doe, President of FakeBiz</span>
											</li>
											<li>
												<img src="{% static 'images/pic08.jpg' %}" alt="" />
												<p>"Magna veroeros amet tempus"</p>
												<span>Mary Smith, CFO of UntitledBiz</span>
											</li>
										</ul>
									</section>

							</div>
						</div>
					</div>
				</section> -->

{% endblock content %}