{% extends 'base_layout.html' %}

{% block content %}

<style type="text/css">
	input {
  background-color: white;
  color: black;
}
</style>
<div style="background-color: purple; opacity: 0.7; margin: 10px;">
<br />
<p style="padding: 10px; font-size: 25px;">
  Sign up for our events mailing list, and you will recieve a virtual coupon for a $1 drink of your choice for drinks regularly priced up to $7.00<br /> 
  Enter Your Contact Information Below:<br />
  Enter name, and Identification/Drivers Licence number without the leading letter.<br />
  Your ID will be verified at the bar in order to be redeemed, you'll need it anyway.<br />
  Your personal information will only be used for the purposes listed above and is stored in an encrypted database.<br />

</p>
<form method='POST' style="margin: 20px;" >
	{% csrf_token %}
	{{ form.as_p }}
	<br />
	<input type="submit" value="Submit" style="color: black;" />
</form>
<br />
</div>
{% endblock content %}